@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
body {
  background-color: #eaeaea;
}

.cage {
  position: fixed;
  bottom: 0;
  top: 50%;
  left: -10%;
  right: -10%;
  background-color: #ffffff;
}
.cage.two .box {
  filter: url("#goo2");
}
.cage .box {
  width: 960px;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  display: block;
  height: 300px;
  filter: url("#goo");
  transform: translateZ(0);
}

.drop-one {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: 50%;
  -webkit-animation: big-drop 2s ease infinite;
  animation: big-drop 2s ease infinite;
}

.drop-two {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  top: 10px;
  left: 51%;
  -webkit-animation: big-drop 2s ease infinite 0.075s;
  animation: big-drop 2s ease infinite 0.075s;
}

.drop-three {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  top: 10px;
  left: 51%;
  -webkit-animation: small-drop 2s ease infinite 1s;
  animation: small-drop 2s ease infinite 1s;
}

.drop-four {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  top: 10px;
  left: 51%;
  -webkit-animation: small-drop 2s ease infinite 1.075s;
  animation: small-drop 2s ease infinite 1.075s;
}

@-webkit-keyframes big-drop {
  0% {
    top: 25%;
  }
  50% {
    top: -40%;
  }
  100% {
    top: 25%;
  }
}
@keyframes big-drop {
  0% {
    top: 25%;
  }
  50% {
    top: -40%;
  }
  100% {
    top: 25%;
  }
}
@-webkit-keyframes small-drop {
  0% {
    top: 25%;
  }
  50% {
    top: -23%;
  }
  100% {
    top: 25%;
  }
}
@keyframes small-drop {
  0% {
    top: 25%;
  }
  50% {
    top: -23%;
  }
  100% {
    top: 25%;
  }
}
.ripple {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ffffff;
  position: absolute;
  top: 0;
}
.ripple.l-side {
  left: 50%;
  -webkit-animation: l-side-ripple 2s ease infinite 1.2s;
  animation: l-side-ripple 2s ease infinite 1.2s;
}
.ripple.r-side {
  left: 53%;
  -webkit-animation: r-side-ripple 2s ease infinite 1.2s;
  animation: r-side-ripple 2s ease infinite 1.2s;
}

@-webkit-keyframes l-side-ripple {
  0% {
    left: 51%;
    top: -30px;
  }
  25% {
    left: 25%;
    top: 0;
  }
  49% {
    top: 0;
  }
  50% {
    left: 51%;
    top: -25px;
  }
  75% {
    left: 35%;
    top: 0;
  }
  99% {
    left: 35%;
    top: 0;
  }
  100% {
    left: 51%;
    top: -30px;
  }
}
@keyframes l-side-ripple {
  0% {
    left: 51%;
    top: -30px;
  }
  25% {
    left: 25%;
    top: 0;
  }
  49% {
    top: 0;
  }
  50% {
    left: 51%;
    top: -25px;
  }
  75% {
    left: 35%;
    top: 0;
  }
  99% {
    left: 35%;
    top: 0;
  }
  100% {
    left: 51%;
    top: -30px;
  }
}
@-webkit-keyframes r-side-ripple {
  0% {
    left: 53%;
    top: -30px;
  }
  25% {
    left: 75%;
    top: 0;
  }
  49% {
    top: 0;
  }
  50% {
    left: 53%;
    top: -25px;
  }
  75% {
    left: 65%;
    top: 0;
  }
  99% {
    top: 0;
  }
  100% {
    left: 53%;
    top: -30px;
  }
}
@keyframes r-side-ripple {
  0% {
    left: 53%;
    top: -30px;
  }
  25% {
    left: 75%;
    top: 0;
  }
  49% {
    top: 0;
  }
  50% {
    left: 53%;
    top: -25px;
  }
  75% {
    left: 65%;
    top: 0;
  }
  99% {
    top: 0;
  }
  100% {
    left: 53%;
    top: -30px;
  }
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #111;
  overflow: hidden;
}
.container .btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 420px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  text-align: center;
}
.container .btn a {
  position: relative;
  display: block;
  font-size: 36px;
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s ease;
}
.container .btn a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  margin: auto;
  background: #fff;
}
.container .btn a:hover::after {
  width: 100%;
  transition: all 1.2s linear;
}
.container .btn a span {
  display: inline-block;
  margin: 0 10px;
  transition: all 0.5s 0s ease;
  visibility: visible;
  opacity: 1;
}
.container .btn a span:nth-child(5) {
  margin-right: 20px;
}
.container .btn a span:nth-child(6) {
  margin-left: 20px;
}
.container .btn a:hover span:nth-child(1) {
  transition: all 1s 0.1s ease;
  transform: perspective(2000px) translateY(63px) translateX(-92px) translateZ(-33px) rotateX(428deg) rotateY(788deg);
  visibility: hidden;
  opacity: 0;
}
.container .btn a:hover span:nth-child(2) {
  transition: all 1s 0.2s ease;
  transform: perspective(2000px) translateY(-72px) translateX(93px) translateZ(-23px) rotateX(440deg) rotateY(369deg);
  visibility: hidden;
  opacity: 0;
}
.container .btn a:hover span:nth-child(3) {
  transition: all 1s 0.3s ease;
  transform: perspective(2000px) translateY(58px) translateX(-71px) translateZ(-17px) rotateX(765deg) rotateY(986deg);
  visibility: hidden;
  opacity: 0;
}
.container .btn a:hover span:nth-child(4) {
  transition: all 1s 0.4s ease;
  transform: perspective(2000px) translateY(-91px) translateX(-19px) translateZ(-50px) rotateX(982deg) rotateY(968deg);
  visibility: hidden;
  opacity: 0;
}
.container .btn a:hover span:nth-child(5) {
  transition: all 1s 0.5s ease;
  transform: perspective(2000px) translateY(-52px) translateX(29px) translateZ(-22px) rotateX(867deg) rotateY(761deg);
  visibility: hidden;
  opacity: 0;
}
.container .btn a:hover span:nth-child(6) {
  transition: all 1s 0.6s ease;
  transform: perspective(2000px) translateY(25px) translateX(54px) translateZ(70px) rotateX(508deg) rotateY(1023deg);
  visibility: hidden;
  opacity: 0;
}
.container .btn a:hover span:nth-child(7) {
  transition: all 1s 0.7s ease;
  transform: perspective(2000px) translateY(-34px) translateX(73px) translateZ(-63px) rotateX(878deg) rotateY(1058deg);
  visibility: hidden;
  opacity: 0;
}
.container .btn a:hover span:nth-child(8) {
  transition: all 1s 0.8s ease;
  transform: perspective(2000px) translateY(32px) translateX(-12px) translateZ(89px) rotateX(580deg) rotateY(399deg);
  visibility: hidden;
  opacity: 0;
}
.container .btn a:hover span:nth-child(9) {
  transition: all 1s 0.9s ease;
  transform: perspective(2000px) translateY(-89px) translateX(76px) translateZ(23px) rotateX(968deg) rotateY(865deg);
  visibility: hidden;
  opacity: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #141414;
}

h1 {
  font-size: 9vw;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  flex: 1;
  position: relative;
  text-align: center;
  margin: 0;
  -webkit-text-fill-color: transparent;
  background-image: url("https://images.unsplash.com/photo-1583339824000-5afecfd41835?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w2MzQ2fDB8MXxzZWFyY2h8OHx8VGV4dHVyZXMlMjB8ZW58MHx8fHwxNjkzNTEzNzA4fDA&ixlib=rb-4.0.3&q=80&w=1080");
  background-size: cover;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
}

body {
  background: black;
  font-family: "Varela", sans-serif;
}

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
  bottom: 267px;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(44px, 9999px, 4px, 0);
  }
  5% {
    clip: rect(99px, 9999px, 59px, 0);
  }
  10% {
    clip: rect(62px, 9999px, 90px, 0);
  }
  15% {
    clip: rect(28px, 9999px, 6px, 0);
  }
  20% {
    clip: rect(61px, 9999px, 53px, 0);
  }
  25% {
    clip: rect(89px, 9999px, 72px, 0);
  }
  30% {
    clip: rect(74px, 9999px, 96px, 0);
  }
  35% {
    clip: rect(7px, 9999px, 31px, 0);
  }
  40% {
    clip: rect(53px, 9999px, 1px, 0);
  }
  45% {
    clip: rect(13px, 9999px, 99px, 0);
  }
  50% {
    clip: rect(92px, 9999px, 99px, 0);
  }
  55% {
    clip: rect(44px, 9999px, 48px, 0);
  }
  60% {
    clip: rect(4px, 9999px, 17px, 0);
  }
  65% {
    clip: rect(41px, 9999px, 24px, 0);
  }
  70% {
    clip: rect(88px, 9999px, 98px, 0);
  }
  75% {
    clip: rect(44px, 9999px, 71px, 0);
  }
  80% {
    clip: rect(11px, 9999px, 98px, 0);
  }
  85% {
    clip: rect(30px, 9999px, 51px, 0);
  }
  90% {
    clip: rect(43px, 9999px, 98px, 0);
  }
  95% {
    clip: rect(5px, 9999px, 50px, 0);
  }
  100% {
    clip: rect(78px, 9999px, 75px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(44px, 9999px, 4px, 0);
  }
  5% {
    clip: rect(99px, 9999px, 59px, 0);
  }
  10% {
    clip: rect(62px, 9999px, 90px, 0);
  }
  15% {
    clip: rect(28px, 9999px, 6px, 0);
  }
  20% {
    clip: rect(61px, 9999px, 53px, 0);
  }
  25% {
    clip: rect(89px, 9999px, 72px, 0);
  }
  30% {
    clip: rect(74px, 9999px, 96px, 0);
  }
  35% {
    clip: rect(7px, 9999px, 31px, 0);
  }
  40% {
    clip: rect(53px, 9999px, 1px, 0);
  }
  45% {
    clip: rect(13px, 9999px, 99px, 0);
  }
  50% {
    clip: rect(92px, 9999px, 99px, 0);
  }
  55% {
    clip: rect(44px, 9999px, 48px, 0);
  }
  60% {
    clip: rect(4px, 9999px, 17px, 0);
  }
  65% {
    clip: rect(41px, 9999px, 24px, 0);
  }
  70% {
    clip: rect(88px, 9999px, 98px, 0);
  }
  75% {
    clip: rect(44px, 9999px, 71px, 0);
  }
  80% {
    clip: rect(11px, 9999px, 98px, 0);
  }
  85% {
    clip: rect(30px, 9999px, 51px, 0);
  }
  90% {
    clip: rect(43px, 9999px, 98px, 0);
  }
  95% {
    clip: rect(5px, 9999px, 50px, 0);
  }
  100% {
    clip: rect(78px, 9999px, 75px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(44px, 9999px, 83px, 0);
  }
  5% {
    clip: rect(99px, 9999px, 86px, 0);
  }
  10% {
    clip: rect(99px, 9999px, 14px, 0);
  }
  15% {
    clip: rect(26px, 9999px, 19px, 0);
  }
  20% {
    clip: rect(61px, 9999px, 91px, 0);
  }
  25% {
    clip: rect(43px, 9999px, 12px, 0);
  }
  30% {
    clip: rect(69px, 9999px, 6px, 0);
  }
  35% {
    clip: rect(4px, 9999px, 94px, 0);
  }
  40% {
    clip: rect(13px, 9999px, 95px, 0);
  }
  45% {
    clip: rect(66px, 9999px, 79px, 0);
  }
  50% {
    clip: rect(79px, 9999px, 49px, 0);
  }
  55% {
    clip: rect(87px, 9999px, 32px, 0);
  }
  60% {
    clip: rect(11px, 9999px, 63px, 0);
  }
  65% {
    clip: rect(69px, 9999px, 59px, 0);
  }
  70% {
    clip: rect(72px, 9999px, 90px, 0);
  }
  75% {
    clip: rect(38px, 9999px, 41px, 0);
  }
  80% {
    clip: rect(16px, 9999px, 24px, 0);
  }
  85% {
    clip: rect(99px, 9999px, 7px, 0);
  }
  90% {
    clip: rect(58px, 9999px, 16px, 0);
  }
  95% {
    clip: rect(29px, 9999px, 94px, 0);
  }
  100% {
    clip: rect(97px, 9999px, 36px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(44px, 9999px, 83px, 0);
  }
  5% {
    clip: rect(99px, 9999px, 86px, 0);
  }
  10% {
    clip: rect(99px, 9999px, 14px, 0);
  }
  15% {
    clip: rect(26px, 9999px, 19px, 0);
  }
  20% {
    clip: rect(61px, 9999px, 91px, 0);
  }
  25% {
    clip: rect(43px, 9999px, 12px, 0);
  }
  30% {
    clip: rect(69px, 9999px, 6px, 0);
  }
  35% {
    clip: rect(4px, 9999px, 94px, 0);
  }
  40% {
    clip: rect(13px, 9999px, 95px, 0);
  }
  45% {
    clip: rect(66px, 9999px, 79px, 0);
  }
  50% {
    clip: rect(79px, 9999px, 49px, 0);
  }
  55% {
    clip: rect(87px, 9999px, 32px, 0);
  }
  60% {
    clip: rect(11px, 9999px, 63px, 0);
  }
  65% {
    clip: rect(69px, 9999px, 59px, 0);
  }
  70% {
    clip: rect(72px, 9999px, 90px, 0);
  }
  75% {
    clip: rect(38px, 9999px, 41px, 0);
  }
  80% {
    clip: rect(16px, 9999px, 24px, 0);
  }
  85% {
    clip: rect(99px, 9999px, 7px, 0);
  }
  90% {
    clip: rect(58px, 9999px, 16px, 0);
  }
  95% {
    clip: rect(29px, 9999px, 94px, 0);
  }
  100% {
    clip: rect(97px, 9999px, 36px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
/*# sourceMappingURL=style.css.map */